html {
  font-size: 10px;
}

body {
  background-color: rgb(109, 101, 101);
  color: black;
  font-family: Tahoma;
}

h2 {
  font-weight: normal;
  font-size: 3rem;
}

P {
  color: orange;
  font-size: 1.5rem;
  line-height: 1.6;
  text-align: center;
}

a {
  font-weight: bold;
  color: azure;
}

.special-p {
  color: green;
  font-style: italic;
}

.italic-text {
  font-style: italic;
}

.salmon-text {
  color: salmon;
}

.container {
  background-color: rgb(132, 57, 124);
  border: 3px solid rgb(3, 3, 3);
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.column {
  width: 80%;
}

@media (min-width:768px) {
  .column {
      width: 30%;
    }
}

/*@media (max-width:960px) {
  .container {
    background-color: rgb(255, 0, 153);
  }
}*/
